* {
    margin: 0;
    font-family: "DM Serif Text", serif;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 20px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

nav li:last-child a {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

nav li:last-child a:hover {
    color: black;
}

.hero {
    height: 90vh;
    background: url(media/banner.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    background: darkred;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.hero button:hover {
    background: red;
}

.video-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text {
    flex: 1;
}

.video-box {
    flex: 1;
}

.video-box video {
    width: 100%;
    border-radius: 10px;
}

.video-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.video-text p {
    font-size: 18px;
    color: #444;
}

.about {
    text-align: center;
    padding: 60px 20px;
    background: rgb(240, 223, 150);
}

.about h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: rgb(84, 4, 4);
}

.card {
    background: rgb(236, 200, 133);
    padding: 10px;
    border-radius: 20px;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card button {
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.card button:hover {
    background: darkred;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.category-icons {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background: #fff;
    overflow: auto;
}

.icon-box {
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.icon-box img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #eee;
    padding: 5px;
}

.icon-box p {
    margin-top: 8px;
    font-size: 14px;
}

.icon-box img:hover {
    border-color: red;
    transform: scale(1.1);
}

.icon-box p:hover {
    color: red;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.cart {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

table {
    width: 70%;
    background: wheat;
    border-radius: 10px;
    position: sticky;
    border-collapse: collapse;
}

thead {
    background-color: red;
    color: white;
}

.item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

th,
td {
    padding: 20px;
    text-align: center;
}

tr {
    border-bottom: 1px solid black;
}

.item h4 {
    margin-bottom: 10px;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.qty-box button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: wheat;
}

.qty-box button:hover {
    background: darkred;
}

.remove {
    border-radius: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: wheat;
    padding: 8px 12px;
}

.remove:hover {
    background-color: darkred;
}

.grand-total button {
    border-radius: 10px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: wheat;
    padding: 12px 20px;
}

.grand-total button:hover {
    background: darkred;
}

.grand-total td {
    font-weight: bold;
    font-size: 20px;
    padding: 30px 30px;
}

.auth-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #000;
}

.auth-box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
}

.auth-box button {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin: 10px 0;
    width: 40%;
    cursor: pointer;

}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    margin: 10px 0;
    outline: none;
}

.auth-box button:hover {
    background-color: darkred;
}

.auth-box input:focus {
    border-color: red;
}

.auth-box a {
    color: red;
    text-decoration: none;
}

.auth-box p {
    margin-top: 5px;
    font-size: 14px;
}

.deals-page {
    background-color: red;
    padding: 40px;
}

.deal-hero{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;
}

.deal-hero h1{
    font-size: 40px;
}

.deal-hero p{
    font-size: 18px;
}

.combo-section{
    padding: 40px;
}

.combo-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.combo-card img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
}

.combo-card{
    background: wheat;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.combo-card h4{
    margin: 10px 0;
}

.combo-card span{
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.combo-card button{
background: red;
border-radius: 20px;
cursor: pointer;
border: none;
padding: 10px 20px;
color: white;
}

.combo-card button:hover{
    background-color: darkred;
}

.combo-card:hover{
    transform: translateY(-8px);
}

.section-title{
 margin-bottom: 10px;
}

.deals-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.deal-card{
    background-color: wheat;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.deal-card h3{
    margin-bottom: 10px;
}

.deal-card span{
    display: inline-block;
    background-color: black;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.deal-card:hover{
    transform: translateY(-20px);
}

.red{
    border-top: 5px solid red;
}

.yellow{
    border-top: 5px solid yellow;
}

.green{
    border-top: 5px solid green;
}