*{
    margin: 0;
    font-family: "DM Serif Text", serif;

}

nav{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover {
color: red;
}

nav li:last-child a{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

nav li:last-child a:hover{
    color: black;
}

.hero{
    height: 90vh;
    background: url(media/banner.png) no-repeat center/cover;   
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
 
.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background: darkred;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.hero button:hover{
    background: red;
}

.video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text{
    flex: 1;
}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius: 10px;
}

.video-text h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.video-text p{
    font-size: 18px;
    color: #444;
}