*{
    margin: 0;
  font-family: "Playfair Display"

}

nav{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
}

h1{
    color: white;
}

nav a:hover {
color: red;
}

nav li:last-child a{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}

nav li:last-child a:hover{
    color: black;
}

